<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a user</title>
</head>
<body>
    <h1>Fill in your information</h1>
    <form action="/users/create" method="post">
        <p>First Name</p>
        <input type="text" name="first_name" id="first_name">
        <p>Last Name</p>
        <input type="text" name="last_name" id="last_name">
        <p>Email</p>
        <input type="text" name="email" id="email">
        <button>Submit</button>
    </form>
</body>
</html>
