<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css')}}">
</head>
<body>
    <div class="contrainer text-center">
        <h1>You did it!</h1>
        <a href="users/logout">logout</a>
    </div>
</body>
<script src="{{ url_for('static',filename='js/bootstrap.bundle.js')}}"></script>
</html>