<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give a dog an award</title>
</head>
<body>
    <h1>Add new Award</h1>
    <form action="/awards/create" method="post">
        <p>Award Title</p>
        <input type="text" name="title" id="title">
        <select name="dog_id">
            {% for dog in all_dogs %}
            <option value="{{dog.id}}">{{dog.name}}</option>
            {% endfor %}
        </select>
        <button>Good Boy!</button>
    </form>
</body>
</html>