<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Dog</title>
</head>
<body>
        <h1>{{dog.name}}</h1>
        <p>Name: {{dog.name}}</p>
        <p>Breed: {{dog.breed}}</p>
        <p>Color: {{dog.color}}</p>
        <a href="/">Go back</a>
        <h2>Awarded:</h2>
        {% for award in dog.list_awards %}
            <p>{{award.title}}</p>
        {% endfor %}
</body>
</html>